<h3>Tambah Data</h3>

<form action="" method="post">
<table>
    <tr>
        <td width="120">Nama</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="Password"></td>
    </tr>
    <tr>
        <td>ID Mahasiswa</td>
        <td><input type="Number"></td>
    </tr>
    <tr>
        <td>tanggal</td>
        <td><input type="date"></td>
    </tr>
    <tr>
        <td>jenis kelamin</td>
        <td><input type="radio" name="jk"> laki-laki
            <input type="radio" name="jk"> perempuan
        </td>
    </tr>
    <tr>
        <td>Hobi</td>
        <td><input type="checkbox"> Futsal
            <input type="checkbox"> Basketbal
            <input type="checkbox"> Berenang
            <input type="checkbox"> Mancing
        </td>
    </tr>
    <tr>
        <td>jabatan</td>
        <td><select>
            <option>Direktur</option>
            <option>Staf</option>
        </select>
        <td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td><textarea></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="sumbit" value="simpan">
            <input type="reset" value="reset">
            <input type="button" value="kembali">

        </td>
    </tr>
</table>
</form>